.button {
    background-color: black;
    border-radius: 100px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    padding: 16px 18px;
    text-decoration-line: none;
    text-wrap: nowrap;

    &:hover {
        background-color: rgb(113, 113, 113);
    }
}